@import "styles/colors.scss";

.about {
  .about-us {
    height: 1188px;
    background-image: url("/assets/images/about-bg.svg");
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: top;
    margin-top: -104px;

    .first {
      display: flex;
      justify-content: center;
      align-items: center;
      padding-top: 165px;
      flex-direction: column;
      gap: 24px;

      h1 {
        text-transform: uppercase;
      }

      p {
        text-align: center;
        font-size: 14px;
        line-height: 30px;
        font-family: "Space Mono", sans-serif;
      }
    }
  }

  .second {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 24px;

    h1 {
      text-transform: uppercase;
    }

    p {
      text-align: center;
      font-size: 14px;
      line-height: 30px;
      font-family: "Space Mono", sans-serif;
    }
  }

  .bottom {
    margin: 80px 0;

    .third {
      position: relative;
      padding: 60px 24px;
      background-color: black;
      border-radius: 24px;
    }

    .third::before {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      margin: -1px;
      background: linear-gradient(90deg, $blue-light 0%, $gradient-1 100%);
      z-index: -1;
      border-radius: 24px;
    }
  }
}
