@import "styles/colors.scss";

.about {
  .about-us {
    height: 1188px;
    background-image: url("/assets/images/about-bg.svg");
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: top;
    margin-top: -104px;

    @media (max-width: 768px) {
      height: 730px;
      background-position-y: bottom;
      background-size: contain;
      margin-top: 0;
      padding: 0 16px;
    }

    .first {
      display: flex;
      justify-content: center;
      align-items: center;
      padding-top: 165px;
      flex-direction: column;
      gap: 24px;

      @media (max-width: 768px) {
        padding: 0;
      }

      h1 {
        text-transform: uppercase;
      }

      p {
        text-align: center;
      }
    }
  }

  .mission {
    @media (max-width: 768px) {
      margin-top: -100px;
      padding: 0 16px;
    }

    .second {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      gap: 24px;

      @media (max-width: 768px) {
        padding: 0;
      }

      h1 {
        text-transform: uppercase;

        @media (max-width: 768px) {
          text-align: center;
        }
      }

      p {
        text-align: center;
      }
    }
  }

  .bottom {
    margin: 80px 0;
    @media (max-width: 768px) {
      margin: 24px 0;
      padding: 0 16px;
    }

    .third {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 24px;
      position: relative;
      padding: 60px 24px;
      background-color: black;
      border-radius: 24px;

      h1 {
        @media (max-width: 768px) {
          text-transform: uppercase;
        }
      }

      p {
        text-align: center;
      }

      @media (max-width: 768px) {
        padding: 24px 16px;
        width: auto;
        text-align: center;
      }
    }

    .third::before {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      margin: -1px;
      background: linear-gradient(90deg, $blue-light 0%, $gradient-1 100%);
      z-index: -1;
      border-radius: 24px;
    }
  }
}

@media (max-width: 768px) {
  .hidden-mobile {
    display: none;
  }
}
