@import "styles/colors.scss";

.textAreaContainer {
  display: flex;
  flex-direction: column;
}

.label {
  margin-bottom: 8px;
  font-size: 12px;
  line-height: 12px;
  color: $grey-light;
}

.textArea {
  padding: 16px;
  font-size: 14px;
  line-height: 30px;
  color: $grey-light;
  background: $purple-light;
  border: 1px solid $grey-light;
  border-radius: 8px;
  transition: border-color 0.3s;
  min-height: 168px;
}

.textArea::placeholder {
  color: $grey-light;
}

.errorContainer {
  border-color: red;
}

.errorTextArea {
  border-color: red;
}

.errorMessage {
  color: red;
  font-size: 12px;
}
