@import "styles/colors.scss";

.home {
  @media (max-width: 768px) {
    article {
      padding: 24px 16px;
    }
  }
  .main {
    height: 1110px;
    background-image: url("/assets/images/home-bg.svg");
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: bottom;
    margin-top: -104px;

    @media (max-width: 768px) {
      background-size: contain;
      padding: 16px;
      margin-top: 0;
      height: 700px;
    }

    .first {
      display: flex;
      justify-content: center;
      align-items: flex-start;
      padding-top: 165px;
      flex-direction: column;
      gap: 24px;

      @media (max-width: 768px) {
        padding: 0;
      }

      h1 {
        text-transform: uppercase;
      }
    }
  }

  .second {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 24px;
    margin-bottom: 120px;

    @media (max-width: 768px) {
      padding: 0;
      margin-bottom: 0;
    }

    h1 {
      text-transform: uppercase;
    }

    .block {
      display: flex;
      gap: 24px;

      @media (max-width: 768px) {
        flex-direction: column;
      }
    }

    &.third {
      margin-bottom: 80px;

      @media (max-width: 768px) {
        margin-bottom: 0;
      }
    }
  }

  .cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 80px;

    @media (max-width: 768px) {
      display: flex;
      flex-direction: column;
      gap: 24px;
      padding: 0;
    }
  }

  .card {
    display: flex;
    gap: 24px;
    @media (max-width: 768px) {
      flex-direction: column;
    }

    .text {
      display: flex;
      flex-direction: column;
      width: calc(100% - 96px);
      gap: 8px;

      @media (max-width: 768px) {
        width: 100%;
      }

      h3 {
        text-transform: uppercase;
      }
    }
  }

  .bottom {
    height: 784px;
    background-image: url("/assets/images/home-bottom-bg.svg");
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
    margin-top: -104px;

    @media (max-width: 768px) {
      margin-top: 0;
      height: auto;
      background-size: cover;
    }

    .five {
      padding-top: 235px;
      display: flex;
      gap: 24px;
      flex-direction: column;

      @media (max-width: 768px) {
        padding: 0;
      }

      h1 {
        text-transform: uppercase;
      }

      h3 {
        text-transform: uppercase;
        color: transparent;
        background: linear-gradient(90deg, $blue-light 0%, $gradient-1 100%);
        -webkit-background-clip: text;
        background-clip: text;
      }
    }
  }
}

.mobile-centered {
  @media (max-width: 768px) {
    text-align: center;
  }
}
