@import "styles/colors.scss";

.sustainability {
  display: flex;
  .images {
    display: flex;
    flex-direction: column;
    margin-left: -160px;
    img {
      &.second {
        margin-top: -173px;
      }
    }
  }

  .group {
    display: flex;
    flex-direction: column;
    gap: 120px;
    align-items: end;
    padding: 48px 0;

    .card {
      display: flex;
      flex-direction: column;
      gap: 24px;
      width: 647px;

      h2 {
        text-transform: uppercase;
      }
    }
  }
}
